/* style.css */
.past {
  background-color: #d3d3d3; /* Light gray for past time blocks */
}

.present {
  background-color: #f17872; /* Coral for present time block */
}

.future {
  background-color: #65c965; /* Pastel green for future time blocks */
}

textarea {
  resize: none;
}

header {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

#currentDay {
  font-size: 18px; 
}

.lined-box {
  border: 1px solid black;
  padding: 10px;/
}

.hour-box {
  display: flex;
  align-items: center;
}

.alert-transparent {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 10px 0 0;
}