
/* Header content */
header {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Time Block content */
.past {
  background-color: #d3d3d3; /* Light gray for past time blocks */
}

.present {
  background-color: #f17872; /* Coral for present time block */
}

.future {
  background-color: #65c965; /* Pastel green for future time blocks */
}

/* Textarea content */
textarea {
  resize: none;
}

/* Header H1 content */
header h1 {
  margin: 0;
  font-size: 36px;
}

/* Current Day content */
#currentDay {
  font-size: 18px; 
}

/* Lined Box content */
.lined-box {
  border: 1px solid black;
  padding: 10px;
}

/* Hour Box content */
.hour-box {
  display: flex;
  align-items: center;
}

/* Transparent Alert content */
.alert-transparent {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 10px 0 0;
}